a.badge, a.badge:hover {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.reference-key {
  min-height: 59px;
}

.checkbox-align {
  display: flex;
  align-content: center;
  justify-content: end;
}

.map-card {
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .08);
  -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .08);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .08);
  height: calc(100vh - 260px);
  margin-bottom: 1.5rem;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;

  &.full-height {
    height: calc(100vh - 176px);
  }

  #map {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px #ffffff;
  }

  &:hover {
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .08);
    -moz-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .08);
  }

}

.reference-card {

  .temperature {
    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;

        p {
          margin: 0;
          font-size: 12px;
          font-weight: bold;

          span {
            -webkit-border-radius: 36px;
            -moz-border-radius: 36px;
            border-radius: 36px;
            display: inline-block;
            margin: 0 6px 0 18px;
            height: 12px;
            width: 12px;

            &.blue {
              background-color: blue;
            }

            &.green {
              background-color: green;
            }

            &.red {
              background-color: red;
            }

            &.yellow {
              background-color: #e6d827;
            }

            &.grey {
              background-color: #696969;
            }
          }
        }
      }
    }
  }

  .light {
    img {
      display: inline-block;
      height: 30px;
      width: auto;
    }

    p {
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      margin: 0;
    }
  }

}

.card {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: none;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .08);
  -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .08);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .08);
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;

  .card-header {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: none;
    margin: 1px;

    .form-group {
      margin-bottom: 0;

      input.form-control {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
      }

      .btn {
        .fa {
          -webkit-transition: all .2s;
          -moz-transition: all .2s;
          -ms-transition: all .2s;
          -o-transition: all .2s;
          transition: all .2s;
        }

        &.btn-danger .fa {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }

    &:hover, &:hover label {
      cursor: pointer;
    }

    &:hover.not-clickable, &:hover.not-clickable label {
      cursor: default;
    }
  }

  .card-body {
    height: calc(100vh - 319px);
    overflow-y: scroll;
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    -ms-transition: height .2s;
    -o-transition: height .2s;
    transition: height .2s;

    table.table {
      margin-bottom: 40px;

      tbody tr {
        border-bottom: solid 1px #f9f9f9;
        border-top: solid 1px #f9f9f9;

        td {
          border: none;

          .badge, .badge:hover {
            color: white;
          }
        }

        &:hover {
          background-color: #f9f9f9;
          cursor: pointer;
        }
      }
    }

    ul {
      margin-bottom: 0;
    }

    &.h-0 {
      height: 0;
      padding: 0;
    }
  }

  .card-footer {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    height: 83px;

    .btn {
      margin: 12px 0;
    }
  }

  &:hover {
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .08);
    -moz-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .08);
  }

}
