<div class="app-body gradient-bg">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <h1>Inicar Sesión</h1>
                <p class="text-muted">Bienvenido! Inicia sesión para continuar</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control"
                         placeholder="Usuario" name="username"
                         [(ngModel)]="credentials.username">
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control"
                         placeholder="Contraseña" name="password"
                         [(ngModel)]="credentials.password">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="button" class="btn btn-primary px-4 button" (click)="login()">Iniciar sesión</button>
                  </div>
                  <!--<div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0" (click)="recover()">Has olvidado la contraseña?</button>
                  </div>-->
                </div>
                <div class="row pt-3 pb-0" *ngIf="errorOnLogin">
                  <div class="col-11 alert alert-danger">
                    <p>
                      Los datos ingresados no coinciden con ningún usuario!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
