<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <form>
                    <div class="form-group row">
                        <label class="col-6 col-form-label">
                            <strong>Todos los recorridos |</strong>
                            <small> <i class="ml-2 mr-1 fa fa-info-circle"></i> para agregar recorridos, genere uno en el mapa</small>
                        </label>
                        <div class="col-6">
                            <input type="text" id="search-route" name="search-route" class="form-control"
                                   placeholder="Buscar recorrido">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Alias de Recorrido</th>
                        <th>Patente del Vehículo</th>
                        <th>Rango de Temperatura</th>
                        <th>Rango de Humedad</th>
                        <th>Sensor de Luz</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Alias de Recorrido</td>
                        <td>Patente del Vehículo</td>
                        <td>Rango de Temperatura</td>
                        <td>Rango de Humedad</td>
                        <td>Sensor de Luz</td>
                        <td>
                            <a class="badge badge-danger" data-toggle="modal" (click)="dangerModal.show()">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Alias de Recorrido</td>
                        <td>Patente del Vehículo</td>
                        <td>Rango de Temperatura</td>
                        <td>Rango de Humedad</td>
                        <td>Sensor de Luz</td>
                        <td>
                            <a class="badge badge-danger" data-toggle="modal" (click)="dangerModal.show()">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Alias de Recorrido</td>
                        <td>Patente del Vehículo</td>
                        <td>Rango de Temperatura</td>
                        <td>Rango de Humedad</td>
                        <td>Sensor de Luz</td>
                        <td>
                            <a class="badge badge-danger" data-toggle="modal" (click)="dangerModal.show()">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Alias de Recorrido</td>
                        <td>Patente del Vehículo</td>
                        <td>Rango de Temperatura</td>
                        <td>Rango de Humedad</td>
                        <td>Sensor de Luz</td>
                        <td>
                            <a class="badge badge-danger" data-toggle="modal" (click)="dangerModal.show()">Eliminar</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar recorrido</h4>
                <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Esta operación no se puede deshacer. Tendrá que crear un nuevo recorrido.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Regresar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->